// Import all base styles

@import './variables';
@import './mixins';
@import './global';

.gap-1 {
  gap: var(--spacing-sm);
} 

.gap-2 {
  gap: var(--spacing-md);
}

.gap-3 {
  gap: var(--spacing-lg);
}